body{
    background-color: #c5faff;
}

.heading{
    font-size: 25px;
    text-align: center;
    justify-content: space-around;
}

.header a{
    width: 150px;
    font-weight: bold;
    text-align: center;
    margin-right: 10px;
    text-decoration: none;
    color: #000;
    padding-left: 2px;
    padding-right: 2px;
}

.header a:hover{
    color: blue;
}

.form{
    margin-top: 10%;
    height: 50px;
    justify-content: space-around;
}

.search-form {
    margin: 0 auto;
    display: flex;
    width: 75%;
    justify-content: space-around;
}

.search-field {
    
    height: 30px;
    border: 3px solid #e63946;
    box-sizing: border-box;
    padding: 0 20px;
    font-size: 100%;
    outline: none;
    width: 500px;
}

.search-btn {
    padding: 0 20px;
    font-size: 100%;
    font-weight: bold;
    background-color: #e63946;
    border: 3px solid #e63946;
    border-left: none;
    color: white;
    cursor: pointer;
    box-sizing: border-box;
}
.search-btn:hover {
    background-color: #F2F5F1;
    color: black;
}

.container{
    display: flex;
    justify-content: space-around;
}

.container2{
    display: flex;
    justify-content: center;
}

.form2{
    margin-top: 3%;
}

.img{
    margin: 0 7%;
}

.tableparks{
    /* margin:20px auto; */
    padding:12px;
    width:580px;
    text-align: left;
    margin-top: 1%;
    
    background-color: #c5faff;

}

.btn{
    background-color: #c5faff;
    border: 3px solid #58e9f7;
    font-weight: bolder;
    font-size: 16px;
}

.btn:hover{
    background-color: #58e9f7;
}

.fortext{
    text-align: left;
    /* font-size: 20px; */
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    display: block;
    line-height: normal;
    margin-bottom: 5px;
}

.about{
    margin-left: 30px;
    
}

.about a{
    font-weight: bolder;
}

.about p{
    font-size: 20px;
}

.contact{
    margin-left: 50px;
    font-size: 18px;
    width: 100%;
    
}

.contact a{
    margin-bottom: 5px;
    display: flex;
}

.right {
    position: absolute;
    top: 8px;
    right: 40px;
    max-width: 50em;
}

.right label{
    padding-right: 20px;
}

.menu{
   
}

.menu a{
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(0, 255, 0);
}